#CONFG
CHAIN_ID=84886
# THESE PORTS ARE RESERVED
# MAKE SURE YOU ARE NOT USING ANY OF THIS
# PROMETHEUS = 9090
# DOCKER-EXPORTER = 9487
# GRAFANA = 3000

# BOOTNODE
EL_BOOTNODE=enr:-KO4QNusK8KAzIdnL8n3xCssWqlgYkpHcQ5EBBOwcrFgiJVNdR2UhtmL9WtRUjd9iXGWJ9IyaO2KHVX4uB4GqQsIW3SGAYnYvyTAg2V0aMfGhMYFTKeAgmlkgnY0gmlwhItjRs6Jc2VjcDI1NmsxoQOSVAwIeM48DsvNYWJkHnzVyYcB3MAusfh9kLzTCI1NvIRzbmFwwIN0Y3CCdsODdWRwgnZd
# MAINNODE BEACON JADI BOOTNODE NYA
CL_BOOTNODE=enr:-MK4QKXTfAdksZApbza5A7McmABgWLU-7Zz-gTvMHyI3bbDTHY725VBna_RDK-yvmWNhwM4Skd6yRekQU_FCmZj7eQ-GAYnYvycth2F0dG5ldHOIAAiAAIAEAACEZXRoMpC4l9z1IAAAkgEAAAAAAAAAgmlkgnY0gmlwhItjRs6Jc2VjcDI1NmsxoQN0DzDNWrV_-tBVc0nIgj5_1taRmPzrnoo5heapCawvQYhzeW5jbmV0cw-DdGNwgjMsg3VkcIIvRA
# GETH CONFIG
SEC_GETH_IP=#CHANGETOYOURSERVERIP
SEC_GETH_HTTP_PORT=8545
SEC_GETH_PORT=30303
SEC_GETH_AUTHRPC_PORT=8553
# BEACON CONFIG
SEC_BEACON_IP=#CHANGETOYOURSERVERIP
SEC_BEACON_RPC_PORT=4000
SEC_BEACON_GRPC_PORT=3500
SEC_BEACON_P2P_TCP_PORT=13000
SEC_BEACON_P2P_UDP_PORT=12000
SEC_BEACON_MONITORING_PORT=8080